#error404{
    background: url(../img/error404.jpg) no-repeat right center;
    height: calc(100vh - 56px);
    display: block;
    position: relative;
    background-size:600px 600px;
}
#error404 h1{
    font-size: 8rem;
    margin-top: 2rem;
}
.form{
    text-align: center;
}
body {
    background: url(../img/ussr.png);
    color: black;
}
.home {
    font-size: 100px;
    text-align: center;
    color: black;
}
.thing{
    text-align: center;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.modal-body img{
    position: relative;
    width: 100%;
    height: auto;
}
.fa.fa-times{
    position: relative;
    left: 1%;
}
.dropdown-item {
    color: white;
}
.bitch{
    background: url(https://i.kym-cdn.com/entries/icons/mobile/000/024/822/12c-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.grid-item{
    width: 300px;
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 16px
}
.img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}
.size{
    width: 420px;
    height: auto;
    border-radius: 5px;
}